//COLORS
$utd-orange: #C75B12;
$utd-green: #008542;
$off-white: #D5D2CA;
$off-orange: #E98300;
$off-green: #69BE28;
$light-green: #C9DD03;

//SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.8rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;